# Development functions

config MAINFUNCTION_DEVEL_GPIO
	bool "Test switch / light"
	depends on DEVEL
	help
	  This is the simplest possible test program, which can be useful
	  to ensure control over a device during reverse engineering.

	  The application continuously scans the hook.  It makes the message
	  LED burn while the phone is off-hook.

	  Additional firmware functions will not work, as the kernel and
	  other support infrastructure is not incorporated into this test.

config MAINFUNCTION_DEVEL_TIMER
	bool "Test timer interrupts"
	depends on DEVEL
	help
	  This is a very simple test program.  It makes the message LED
	  flash with a 1 second period and a 50% duty cycle.  It can be
	  used to develop timer drivers.

	  Additional firmware functions will not work, as the kernel and
	  other support infrastructure is not incorporated into this test.

config MAINFUNCTION_DEVEL_KEYBOARD
	bool "Test keyboard / display"
	depends on DEVEL
	help
	  This test processes input from the keyboard, and shows it on
	  the display, as well as printing it to the platform's console,
	  if any.

	  Additional firmware functions will not work, as the kernel and
	  other support infrastructure is not incorporated into this test.

config MAINFUNCTION_DEVEL_NETWORK
	bool "Test network"
	depends on DEVEL
	select FUNCTION_NETCONSOLE
	help
	  This test runs a networked console.  The test will print information
	  about incoming network packets and ignore traffic sent to the device.

	  Note that the performance is not based on timers, but instead
	  triggered when something is logged.  This may lead to delays in the
	  delivery, of bursty sends that cause rejects at the LLC2 level.
	  This is really just a test, rather than a perfect application.

	  The details of the networked console are described under the
	  add-on function for this console, one menu level up.

	  Additional firmware functions will not work, as the kernel and
	  other support infrastructure is not incorporated into this test.

config MAINFUNCTION_DEVEL_SOUND
	bool "Test sound"
	depends on DEVEL
	select FUNCTION_DEVEL_SOUNDIO
	help
	  This test turns your phone into an echo well.  While off-hook, it will
	  echo handset voice to the handset with a one-second delay.  If it is
	  a speakerphone, it will use the built-in microphone and speaker to do
	  the same while on-hook.
          
	  The sound is usually best implemented through DMA.  Not only does this
	  save lots of interrupts while working on other things, but the reliance
	  on hardware timers and not on any software aspects helps to keep the
	  sample rate very stable, thus leading to better voice quality.

	  Additional firmware functions will not work, as the kernel and
	  other support infrastructure is not incorporated into this test.

